input{
    padding-left: 1rem;
    padding-right: 1.5rem;
    padding-block: 1.0625rem;
    width: 5.4375rem;
    height: 3.4375m;
    border-radius: 0.5rem;
    border: 1px solid map-get($Neutral, "Light-grey");
}
form :first-child{
    margin-right: 0.5rem;
}