@import "colors";
@import "reset";
@import "fonts";
@import "mixins";


.wishing-msg{
    display: none;
    width: min(93%, 40rem);
    height: 3rem;
    border-radius: 1rem;
    background-color: map-get($Neutral, "White");
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: center;
    .msg{
        font-family: result;
        font-size: 1rem;
        padding-top: 1rem;
    }
}


.main{
    height: 100vh;
    .container{
        background-color: map-get($Neutral, "White");
        width: min(93%, 40rem);
        border-radius: 1.25rem 1.25rem 6.25rem 1.25rem;
        form{
            font-family: form-field;
            margin-top: 3.125rem;
            margin-left: 5%;
            @media screen and (max-width: 420px){
                justify-content: center;
            }
            div{
                width: max(25%, 7rem);
                @media screen and (max-width: 374px){
                    width: 35%;
                }
                label{
                    font-size: 0.8rem;
                    letter-spacing: 0.2rem;
                    color: map-get($Neutral, "Smokey-grey");
                    &.error{
                        color: map-get($Primary, "Light-red");
                    }
                }
                input{
                    font-size: 1.2rem;
                    color: map-get($Neutral, "Off-black");
                }
            }
        }

        .center-part{
            margin-top: 1.5rem;
            hr{
                position: relative;
                top: 3.2rem;
                border: 1px solid map-get($Neutral, "Light-grey");
                margin-inline: 1.5rem;
            }
            button{
                position: relative;
                left: 40%;
                background-color: map-get($Primary, "Purple");
                border-radius: 50%;
                border: 1px solid transparent;
                padding: 1rem;
                cursor: pointer;
                transition: 0.2s ease;
                transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                @media screen and (min-width: 500px){
                    left: 85%;
                }
                &:hover{
                    background-color: map-get($Neutral, "Off-black")
                }
                img{
                    height: 2rem;
                    width: auto;
                }
            }
        }

        .result{
            font-family: result;
            margin-top: 2rem;
            margin-bottom: 3.125rem;
            h2{
                font-size: 3.1875rem;
                @media screen and (min-width: 721px) and (max-width: 1440px){
                    font-size: 4.3rem;
                    margin-left: 2rem;
                }
                @media screen and (min-width: 400px) and (max-width: 720px){
                    font-size: 3.75rem;
                }
                @media screen and (max-width: 338px){
                    font-size: 2.75rem;
                }
                span{
                    margin-right: 0.5rem;
                    color: map-get($Primary, "Purple");
                }
            }
        }
    }
}
.attribution{
    z-index: 10;

}