@import "colors";
@import "reset";
@import "mixins";

.main{
    height: 100vh;
    background-color: aqua;
    .container{
        background-color: map-get($Neutral, "White");
        width: min(93%, 30rem);
        height: 30.375rem;
        border-radius: 1.25rem 1.25rem 6.25rem 1.25rem;
        form{
        }
    }
}